asgiref==3.8.1
certifi==2024.6.2
charset-normalizer==3.3.2
confluent-kafka==2.4.0
Django==5.1.6
django-ratelimit==4.1.0
django-redis==5.4.0
geographiclib==2.0
geopy==2.4.1
gpxpy==1.6.2
gunicorn==23.0.0
idna==3.7
numpy==1.26.4
packaging==24.2
pandas==2.2.2
pillow==11.1.0
psycopg2-binary==2.9.9  # Use this if using PostgreSQL
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
redis==5.2.1
requests==2.32.3
simplejson==3.19.2
six==1.16.0
sqlparse==0.5.3
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.1
whitenoise==6.9.0
